%h2
  Timers
  #timers
    - unless @timers.nil? or @timers.count < 1
      %ul.timers
        - @timers.each do |timer|
          %li
            %a{href:"/timers/#{timer.id}"}
              = "#{timer.id}: #{timer.name} - #{timer.end}"
    - else
      No timers